a {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: inherit;
  color: inherit;
  text-align: center;
}

#page {
  width: 300px;
  font-size: 25px;
  border-radius: 0 0 50% 50% ;
  height: 60px;
  background-color: wheat;
}
