a {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: inherit;
  color: inherit;
  text-align: center;
}

#page {
  width: 40%;
  font-size: 25px;
  border-radius: 80px;
  height: 40px;
  background-color: wheat;
}
