@import "src/styles";

a {
  position: absolute;
  left: 1em;
  top:1em;
  text-decoration: inherit;
  color: black;
  margin-bottom: 1em;
}

#page {
  font-size: 25px;
  height: 40px;
}

#logo {
  height: 2.5rem;
}

@media screen and (max-width: 600px) {
  a {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 800px) {
  a {
    left: 3em;
    top: 3em;
  }
}
