@import "src/styles";

.registerFormWrapper {
  display: flex;
  justify-content: center;
}

#landingWrapper {
  text-align: center;
  margin-top: 50px;

  #registerBtn {
    margin: 20px 0 20px 0;
  }

  h1 {
    font-size: 45px;
  }

  span {
    font-weight: bold;
  }

  p {
    font-size: 20px;
  }
}

.registerFormWrapper {
  margin-top: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  z-index: -1;
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(90deg, #398ab9, #498db6, #5790b4, #6392b1, #6e95af, #6c92ab, #698fa8, #678ca4, #57829e, #467898, #346f92, #1c658c);
  animation: AnimateBG 5s ease infinite;
}
@keyframes AnimateBG {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@media screen and (min-width: 600px) {
  #landingWrapper{
    position: absolute;
    top: 35%;
  }
  .registerFormWrapper{

  }
}

