@import "src/styles";

.registerFormWrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 450px;
}

#landingWrapper {
  text-align: center;
  margin-top: 50px;

  #registerBtn {
    margin: 20px 0 20px 0;
  }

  h1 {
    font-size: 45px;
  }

  span {
    font-weight: bold;
  }

  p {
    font-size: 20px;
  }
}

.registerFormWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

