@tailwind base;
@tailwind components;
@tailwind utilities;
/*Color Palette*/

$dark-theme-background : #1C658C;
$light-theme-background: #398AB9;
$element-background : #EEEEEE;
$beige-button-color: #D8D2CB;
$blue-gray:#7C99AC;
